@import "variables";

:host {
  display: flex;
  height: 100vh;
  .main-container {
    background: $background-primary;
    @media only screen and (max-device-width: 600px) {
      // Phone
    }
    @media only screen and (min-device-width: 768px) {
      // Tablet
    }
    @media only screen and (min-device-width: 1200px) {
      // Desktop
    }
  }
}
