<div class="media-details-container">
  <h3>Media details</h3>
  <button (click)="back()">Back</button>

  <ng-container
    *ngIf="(detailsData$ | async)?.loading; then loader; else content"
  ></ng-container>

  <ng-template #loader> <label>Loading...</label> </ng-template>

  <ng-template #content>
    <div class="details-info">
      <label class="title">{{ (detailsData$ | async)?.media?.title }}</label>
      <label class="overview">{{
        (detailsData$ | async)?.media?.overview
      }}</label>
    </div>

    <img [src]="base_url + (detailsData$ | async)?.media?.poster_path" alt="" />
  </ng-template>
</div>
