$activated-link-border:    #000000;
$primary-color:            #333333;
$secondary-color:          #757575;
$warning:                  #ff9800;
$danger:                   #f44336;
$success:                  #4caf50;
$info:                     #2a7efc;
$background-primary:       #ffffff;
$background-secondary:     #cfc9c9;
$font-color:               #1a1a1a;